{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}

{% block content_no_container %}
  {% if carousel %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        {% for i in carousel_count %}
          <li data-target="#myCarousel" data-slide-to="{{i}}"></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner" role="listbox">
        {% for image in carousel %}
          {% if forloop.counter == 1 %}
            <div class="item active">
          {% else %}
            <div class="item">
          {% endif %}
              <img class="img-responsive first-slide" src="media/{{ image.image }}" alt="a Pic">
              <div class="container">
                <div class="carousel-caption">
                  <h1>{{ image.header }}</h1>
                  <p>{{ image.sub_header }}</p>
                </div>
              </div>
          </div>
        {% endfor %}
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a><!-- /.carousel -->
    </div>
   </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if feature %}
    <div class="container marketing">
      <div class="row">
      {% for heading in feature %}
          <div class="col-lg-4">
            <h2>{{ heading.title }}</h2>
            <p>{{ heading.description }}</p>
            {% if heading.detail_button_link %}
              <p><a class="btn btn-material-red-700" href="{{ heading.detail_button_link }}" role="button">
                View details &raquo;</a></p>
            {% endif %}
          </div><!-- /.col-lg-4 -->
      {% endfor %}
      </div><!-- /.row -->
    </div>
  {% endif %}
{% endblock %}